[submodule "plugins/aphrodite"]
path = plugins/aphrodite
url = https://github.com/PlayForm/Aphrodite-Hermes.git
ignore = all

[submodule "vendor/headroom"]
path = vendor/headroom
url = https://github.com/PlayForm/Headroom.git
ignore = all

[submodule "vendor/rtk"]
path = vendor/rtk
url = https://github.com/PlayForm/rtk.git
ignore = all
